@font-face {
  font-family: 'IRANYekanWeb';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/iranyekanweblight.woff2') format('woff');
}

@font-face {
  font-family: 'IRANYekanWeb';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/iranyekanwebregular.woff2') format('woff');
}

@font-face {
  font-family: 'IRANYekanWeb';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/iranyekanwebbold.woff2') format('woff');
}

* {
  font-family: 'IRANYekanWeb', Arial, sans-serif;
}
