@import './fonts.css';
@import 'tailwindcss' prefix(tw);
@import 'tw-animate-css';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.app-dark, .app-dark *));
@layer base {
  input.no-spin-arrow[type='number']::-webkit-outer-spin-button,
  input.no-spin-arrow[type='number']::-webkit-inner-spin-button,
  input.no-spin-arrow[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

html {
  font-size: 14px;
}
